.clients-list {
  width: calc((100% - 30px * 5) / 6);
  margin-right: 30px;

  &-box  {
    display: flex;
  }
}

 .icon-client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:hover,
  &:focus {
   border: 1px solid $accent-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &> .client-svg,
    &> .client-svg {
     --color4: $accent-color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    } 
  }
}
