
.icon-svg {
  width: 20px;
  height: 20px;

  .footer-svg {
    --color4: $primary-white-color;
  }
}


.icon-link:hover > .icon-svg {
  --color4: $primary-white-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-features {
  width: 270px;
  height: 120px;
  padding: 25px 102px;
  background: #F5F4FA;
  border-radius: 4px;
}