
.icon-svg {
  width: 20px;
  height: 20px;

  .footer-svg {
    --color4: $primary-white-color;
  }
}

.icon-features {
  width: 270px;
  height: 120px;
  padding: 25px 102px;
  background: #F5F4FA;
  border-radius: 4px;
}


.icon-svg.footer-svg {
  --color4: $primary-white-color;
}
