.link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: $text-color;

}

.hover-link .contact-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: $primary-text-color;
}

.curent.link::after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  border-bottom: 4px solid $accent-color;
  border-radius: 2px;
  bottom: 0;
}

.icon-client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
  }

  &:hover > .client-svg,
  &:focus > .client-svg {
    fill: currentColor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}


.social-link-box {
  display: flex;  
  padding: 16px 32px 24px;    
}

.social-link-list:not(:last-child) {
  margin-right: 10px;
} 



.links-box-footer {
  display: flex;
}

.social-links-footer:not(:last-child) {
  margin-right: 10px;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;

  & > .icon-svg {
    fill: #afb1b8;
  }

  &:hover {
    background-color: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    & > .icon-svg {
      fill: $primary-white-color;
    }  
  }
}


.icon-link.footer {
  background-color: rgba(255, 255, 255, 0.1);

  & > .icon-svg.footer-svg {
    fill: $primary-white-color;
  }

  &:hover {
    background-color: $accent-color;
  }
}
